@model Livraria.Models.Domain.Livro
@{

}

<div class="container pt-5">
    <div class="row">
        <div class="col-md-6">
            <h3>Adicionar Livro</h3>
            <form asp-action="Add" method="post">
                <div class="form-group">
                    <label asp-for="Titulo">Titulo*</label>
                    <input type="text" class="form-control" asp-for="Titulo"/>
                    <span asp-validation-for="Titulo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="GeneroId">Género *</label>
                    <select asp-for="GeneroId" asp-items="Model.ListaGeneros" class="form-control">
                        <option value="">--Seleccionar--</option>
                    </select>
                    <span asp-validation-for="Titulo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Isbn">Código Isbn*</label>
                    <input type="text" class="form-control" asp-for="Isbn" />
                    <span asp-validation-for="Isbn" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PaginasTotal">Numero de Páginas*</label>
                    <input type="text" class="form-control" asp-for="PaginasTotal" />
                    <span asp-validation-for="PaginasTotal" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="AutorId">Autor *</label>
                    <select asp-for="AutorId" asp-items="Model.ListaAutores" class="form-control">
                        <option value="">--Seleccionar--</option>
                    </select>
                    <span asp-validation-for="AutorId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="EditoraId">Editora *</label>
                    <select asp-for="EditoraId" asp-items="Model.ListaEditores" class="form-control">
                        <option value="">--Seleccionar--</option>
                    </select>
                    <span asp-validation-for="EditoraId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Ano">Ano da Obra*</label>
                    <input type="text" class="form-control" asp-for="Ano" />
                    <span asp-validation-for="Ano" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PrecoLivro">Preço do Livro *</label>
                    <input type="text" class="form-control" asp-for="PrecoLivro"/>
                    <span asp-validation-for="PrecoLivro" class="text-danger"></span>
                </div>

                @if (TempData["msg"] != null)
                {
                    <div class="form-group">
                        @TempData["msg"]
                    </div>
                }
                <div class="form-group pt-3">
                    <button type="submit" class="btn btn-dark">
                        <i class="bi bi-save"></i>
                        Salvar
                    </button>
                    <a asp-action="GetAll" class="btn btn-primary"><i class="bi bi-list"></i>Registos</a>
                </div>
            </form>
        </div>
    </div>
</div>